108020031_hw4
hw1/hw1.mp4
hw1/Data Science HW1 .pptx
hw1/hw1_test.exe
hw1/hw1.exe
hw2/DS11102-hw2-classification-0402update.pptx
!hw3/
final
hw2/myAns.csv
hw2/sampleSubmission.csv
hw2/test.csv
hw2/train.csv
hw2/catboost_info
hw3/__MACOSX
hw3/__pycache__
hw3/.vscode
hw3/dataset
hw3/GCNH
hw3/SSP
hw3/DS-HW3.pptx
hw3/final.csv
hw3/GCNH.csv
hw3/output.csv
hw3/SSP1.csv
hw4/108020031_report.docx
hw4/108020031_report.pdf
hw4/108020031_result.mp4
hw4/hw4.pptx
hw5
hw5_sample_code
hw4/HFL





